<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Account Validation</ng-template>
      <mat-form-field class="full-width" name="destAffiliate">
        <mat-label>Destination Affiliate</mat-label>
        <mat-select>
          <mat-option value="EGH">Ecobank Ghana</mat-option>
          <mat-option value="ENG">Ecobank Nigeria</mat-option>
          <mat-option value="EBJ">Ecobank Benin</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field class="full-width">
        <mat-label>Receiver's Account Number</mat-label>
        <input matInput name="receiveAccount" required />
      </mat-form-field>
      <br />
      <mat-form-field class="full-width">
        <mat-label>Receiver's Full Name</mat-label>
        <input matInput name="receiveAccount" required />
      </mat-form-field>
      <br />
      <mat-form-field class="full-width">
        <mat-label>Receiver's Currency</mat-label>
        <input matInput name="receiveAccount" required />
      </mat-form-field>
      <br />
      <mat-form-field class="full-width">
        <mat-label>Sender's Account Number</mat-label>
        <input matInput name="senderAccount" required />
      </mat-form-field>
      <br />
      <mat-form-field class="full-width">
        <mat-label>Sender's Full Name</mat-label>
        <input matInput name="receiveAccount" required />
      </mat-form-field>
      <br />
      <mat-form-field class="full-width">
        <mat-label>Sender's Currency</mat-label>
        <input matInput name="receiveAccount" required />
      </mat-form-field>
      <br />
    </form>
    <div class="title-center">
      <mat-card-actions>
        <button mat-raised-button color="info">
          Validate Sender's Account
        </button>
        <button mat-raised-button color="info">
          Validate Sender's Account
        </button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </mat-card-actions>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fee Look Up">
    <form [formGroup]="secondFormGroup">
      <mat-form-field class="full-width" name="destAffiliate">
        <mat-label>Product</mat-label>
        <mat-select>
          <mat-option value="ACCTOACC">Account to Account</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Amount</mat-label>
        <input matInput name="amount" required />
      </mat-form-field>
      <mat-form-field class="full-width" name="destAffiliate">
        <mat-label>Purpose of Transfer</mat-label>
        <mat-select>
          <mat-option value="Business">Business</mat-option>
          <mat-option value="Family">Family</mat-option>
          <mat-option value="Food">Food</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="title-center">
        <mat-card-actions>
          <button mat-raised-button color="info" matStepperPrevious>
            Back
          </button>
          <button mat-raised-button color="primary" matStepperNext>
            Next
          </button>
        </mat-card-actions>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Complete Transaction</ng-template>
    <mat-card>
      <div class="title-center">
        <mat-card-header>
          <mat-card-subtitle> Transaction Information </mat-card-subtitle>
        </mat-card-header>
      </div>
      <div class="title-center">
        <mat-card-content>
          <p class="value">Source Affiliate: <span>Ecobank Nigeria</span></p>
          <p class="value">Destination Affiliate: <span>Ecobank Ghana</span></p>
          <p class="value">Receiver's Name: <span>0393040404044</span></p>
          <p class="value">Sender's Name: <span>499495005050505</span></p>
          <p class="value">Receiver's Account: <span>200</span></p>
          <p class="value">Sender's Account: <span>100</span></p>
          <p class="value">Receiver's Currency: <span>XOF</span></p>
          <p class="value">Sender's Currency: <span>GHS</span></p>
          <p class="value">Product: <span>Account to Account</span></p>
          <p class="value">Account: <span>10.499</span></p>
        </mat-card-content>
      </div>
      <div class="title-center">
        <mat-card-actions>
          <button mat-raised-button color="info" matStepperPrevious>
            Back
          </button>
          <button mat-raised-button color="primary" (click)="stepper.reset()">
            Reset
          </button>
          <button mat-raised-button color="accent" (click)="performTransaction()">
            Continue
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-step>
</mat-stepper>
