.full-width {
  width: 70%;
}
.value {
  font-size: 1rem;
}
.title-center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}
span {
  margin-right: 1rem;
  margin-left: 1rem;
}
