.main-div {
  max-width: 35rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

h1 {
  font-family: "Roboto";
}

mat-card-title {
  margin-bottom: 2rem;
}
.full-width {
  width: 100%;
}